header {
  border: none !important;
  /* padding: 0.75rem !important; */
  background: var(--surface-card);
  border-radius: 0.5rem;
}

header > div {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
}

header .p-button.flex-1 {
  flex: 1 1 auto !important;
  justify-content: center !important;
  border: none !important;
  box-shadow: none !important;
}

header .p-button.flex-1:enabled:focus {
  box-shadow: none !important;
}
